{# registration/_form.html.twig #}
{{ form_start(registrationForm) }}
    
<div class="mb-3">
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    <div class="text-danger">
        {{ form_errors(registrationForm.email) }}
    </div>
</div>

{{ form_rest(registrationForm) }}
<button type="submit" class="btn btn-primary">S'inscrire</button>
{{ form_end(registrationForm) }}