{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(registrationForm) }}
    
    {# Champ Email #}
    <div class="mb-3">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        <div style="color: red; margin-top: 5px">
            {{ form_errors(registrationForm.email) }}
        </div>
    </div>

    {# Autres champs #}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.plainPassword) }}

    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}