{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <h1>Liste des réservations</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de réservation</th>
                <th>Utilisateur</th>
                <th>Créneau</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.dateReservation|date('Y-m-d H:i') }}</td>
                    <td>{{ reservation.utilisateur.nom }}</td>
                    <td>{{ reservation.creneau.dateDebut|date('Y-m-d H:i') }} - {{ reservation.creneau.dateFin|date('Y-m-d H:i') }}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('annuler_reservation', {'id': reservation.id}) }}" 
                            onclick="return confirm('Êtes-vous sûr de vouloir annuler cette réservation ?')">
                            Annuler
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
