{% extends 'base.html.twig' %}

{% block title %}Modifier une Ressource{% endblock %}

{% block body %}
    <h1>Modifier la Ressource : {{ ressource.nom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.type) }}
        {{ form_row(form.description) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_ressource') }}">Retour à la liste</a>
{% endblock %}
