{# templates/admin/ressources/index.html.twig #}
<h1>Liste des Ressources</h1>
<a href="{{ path('admin_ressource_new') }}">Ajouter une nouvelle ressource</a>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.name }}</td>
                <td>{{ ressource.type }}</td>
                <td>{{ ressource.description }}</td>
                <td>
                    <a href="{{ path('admin_ressource_edit', {'id': ressource.id}) }}">Modifier</a> |
                    <a href="{{ path('admin_ressource_delete', {'id': ressource.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
