<h1>Bonjour administrateur, {{ prenom }}</h1>

<h2>Statistiques :</h2>
<ul>
    <li>Utilisateurs inscrits : {{ stats.users }}</li>
    <li>Clients avec organisations : {{ stats.clients }}</li>
    <li>Ressources créées : {{ stats.resources }}</li>
    <li>Réservations totales : {{ stats.bookings }}</li>
</ul>
