{# templates/admin/creneau/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un créneau{% endblock %}

{% block body %}
    <h1>Modifier un créneau</h1>

    {{ form_start(form) }}
        {{ form_row(form.date_debut) }}
        {{ form_row(form.date_fin) }}
        {{ form_row(form.ressource) }}
        <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_creneaux') }}">Retour à la liste</a>
{% endblock %}
