{# templates/admin/creneau/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Gestion des créneaux{% endblock %}

{% block body %}
    <h1>Gestion des créneaux</h1>

    <table>
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Ressource</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for creneau in creneaux %}
                <tr>
                    <td>{{ creneau.dateDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ creneau.dateFin|date('d/m/Y H:i') }}</td>
                    <td>{{ creneau.ressource.name }}</td>
                    <td>
                        <a href="{{ path('admin_creneau_edit', {'id': creneau.id}) }}">Modifier</a>
                        <a href="{{ path('admin_creneau_delete', {'id': creneau.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce créneau ?');">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun créneau trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_creneau_create') }}">Ajouter un créneau</a>
{% endblock %}
