{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail de la ressource</h1>

    <p><strong>ID :</strong> {{ resource.id }}</p>
    <p><strong>Nom :</strong> {{ resource.name }}</p>
    <p><strong>Type :</strong> {{ resource.type }}</p>
    <p><strong>Capacité :</strong> {{ resource.capacity }}</p>
    <p><strong>Localisation :</strong> {{ resource.location }}</p>
    <p><strong>Description :</strong> {{ resource.description }}</p>
    <p><strong>Client :</strong> {{ resource.client.organizationName }}</p>

    <a href="{{ path('admin_resources') }}">← Retour à la liste</a>
{% endblock %}
